.icon {
  display: block;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;

  &-inner {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    &-small {
      width: 1rem;
      height: 1rem;
    }
    &-large {
      width: 2rem;
      height: 2rem;
    }
    svg {
      display: block;
      overflow: hidden;

      fill: #fff;
    }
  }
}
